/* layout */
body {
  background-color: #87E4D4;
}

/* App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */
.nav-bar:hover {
  box-shadow: 0 0 11px #2fb9a2; 
}

/* buttons */
.button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  width: 500px;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/* home */
.home {
  text-align: center;
  width: 500 px;
  font-size: 30px;
}

.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px;
}

#homeBtn {
  background-color: #2fb9a2;
  font-size: 45px;
  color: white;
  margin: 50px;
  -webkit-text-stroke: 1px black;
}

#gameBtn {
  background-color: #40FF6A;
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
  -webkit-text-stroke: 1px black;
}

#badgeBtn {
  background-color: #9440FF;
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
  -webkit-text-stroke: 1px black;
}

#leaderBtn {
  background-color: #FFC700;
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
  -webkit-text-stroke: 1px black;
}

/* links */
a {
  color: var(--color);
  border-bottom: 1px solid var(--color);
  text-decoration: none;
}

/* cards */
.cards {
  background-color: 87E4D4;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 0 25px #7a37d1; 
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #2fb9a2;
  border-radius: 5px;
  width: 300px;
  background-color: #BE8BFF;
}

.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.Locked{
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
  /* blur */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.Unlocked {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
  text-align: center;
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
  text-align: center;
}

/* leaderboard */
h3 {
  height: 100%; 
  width: 100%; 
  text-align: center;
  font-size: 4rem;
}

.leader {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

td, tr {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: #0b2a49;
}

tr {
  background-color: rgb(255,233,11);
  font-size: 14px;
  font-weight: 600;
  color: #34495e;
  text-align: center;
  font-size: 3rem;
}

/* form */
form {
  text-align: center;
  background-color: #FF9040;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 14px;
}

label {
  font-size: 20px;
  padding: 10px;
}

input {
  width: calc(100% / 4);
  border: 2px solid #04AA6D;
  border-radius: 4px;
}
button[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.footer {
  border-top: 1px solid #04AA6D;
  /* background-color: #04AA6D; */
  color: #04AA6D;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: left;
}