body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.world {
  width: 80%;
  height: 80%;
  min-height: calc(100vw * (1 / 3));
  position: relative;
  margin-top: 10vw;
}

.tile-row {
  width: 100%;
  height: 20vw;
  position: absolute;
}

.tile {
  position: absolute;
  width: calc(100% / 9);
  height: auto;
  transform: translate(0%);
}

.player {
  width: calc(5%)
}